server:
  port: 8080

spring:
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:postgresql://localhost:5432/flightdb}
    username: ${JDBC_DATABASE_USERNAME:postgres}
    password: ${JDBC_DATABASE_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

logging:
  level:
    org.springframework.security: INFO
    org.hibernate.SQL: DEBUG

app:
  jwt:
    secret: "b4c3d1a8e6f4472b98f95a13c2f76f3f9aebc8f24d5e67a19b2f0c34a8e1d6b0"
    expirationMs: 86400000 # 24h
